# Tarea 2 - Paulino Moreno
Guía Pandas

### Introducción

Pandas (además de Numpy) es la biblioteca Python para todas tus necesidades de ciencia de datos. Ayuda a manejar los datos de entrada en formatos CSV y a transformar sus datos en un formulario en el que puedan ingresarse en modelos de Machinne Learning.

Este breve tutorial puede mostrarle muchos comandos diferentes que lo ayudarán a obtener la mayor cantidad de información sobre su conjunto de datos.

Antes debemos de importar la librería de Pandas.

In [0]:
import pandas as pd

# Carga de Datos

El primer paso es identificar en qué formato están sus datos y luego cargarlos en el marco que esté utilizando. En Kaggle se pueden encontrar muchos datos en archivos CSV, así que ese es el ejemplo que vamos a usar.

![NCAAlogo](https://www.gamblingsites.com/wp-content/uploads/2019/06/March-Madness-3.jpg)

Este set de datos está almacenado en Google Drive, para lo cual se genera el link y se da permiso de lectura. Para lo cual debemos preparar el link con la ruta o formato correcto para ser leida por Pandas.

In [0]:
from google.colab import drive
file_id='1nO-GQpU-UPeaH3Bbj4fIcgJqLXMm5qhb'
link='https://drive.google.com/uc?export=download&id={FILE_ID}'
csv_url=link.format(FILE_ID=file_id)
#El link al final debe salir de esta forma:
#csv_url='https://drive.google.com/uc?export=download&id=1JEXf5PR9TEgBZwBIgwSF-7Ykh_p8ERmM'
#https://drive.google.com/open?id=1nO-GQpU-UPeaH3Bbj4fIcgJqLXMm5qhb

Vamos a ver un conjunto de datos que muestra los resultados de los juegos de baloncesto de la NCAA de 1985 a 2019, está en un archivo CSV y la función que vamos a utilizar leer en el archivo se llama pd.read_csv ().

Esta función devuelve una variable de Data Frame de datos, elcual se define como "una estructura de datos tabular bidimensional de tamaño variable y potencialmente heterogénea con ejes etiquetados (filas y columnas)".

In [0]:
df = pd.read_csv(csv_url)

# Lo Básico

Ahora que tenemos nuestro set de datos en nuestra variable df, veamos qué contiene. Podemos usar la función **head()** para ver las primeras 5 filas (o la función **tail()** para ver las últimas 5 filas).

In [50]:
df.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [51]:
df.tail()

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
156084    2018     132     1153      56     1222      55    N      0
156085    2018     132     1172      58     1348      57    N      0
156086    2018     132     1209      74     1426      61    N      0
156087    2018     132     1246      77     1397      72    N      0
156088    2018     132     1335      68     1217      65    N      0

Podemos ver las dimensiones del set de datos utilizando el atributo o propiedad **shape**.

In [52]:
df.shape

(156089, 8)

También podemos extraer todos los nombres de columna como una lista, usando el atributo **columns** y puede extraer las filas con el atributo **index**.

In [53]:
df.columns.tolist()

['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT']

In [54]:
df.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

Para tener una mejor idea del tipo de datos con los que estamos tratando, podemos llamar a la función **describe ()** para ver estadísticas como media, min, etc. sobre cada columna del conjunto de datos.

In [60]:
df.describe()

              Season         DayNum  ...         LScore          NumOT
count  156089.000000  156089.000000  ...  156089.000000  156089.000000
mean     2002.676749      74.916106  ...      64.654095       0.046627
std         9.783024      33.468727  ...      11.368591       0.253754
min      1985.000000       0.000000  ...      20.000000       0.000000
25%      1994.000000      47.000000  ...      57.000000       0.000000
50%      2003.000000      77.000000  ...      64.000000       0.000000
75%      2011.000000     103.000000  ...      72.000000       0.000000
max      2018.000000     132.000000  ...     150.000000       6.000000

[8 rows x 7 columns]

Bien, ahora veamos la información que queremos extraer del set de datos. Digamos que quería saber el valor máximo de una determinada columna. La función **max ()** le mostrará los valores máximos de todas las columnas

In [59]:
df.max()

Season     2018
DayNum      132
WTeamID    1464
WScore      186
LTeamID    1464
LScore      150
WLoc          N
NumOT         6
dtype: object

Luego, si desea obtener específicamente el valor máximo para una columna en particular, use el nombre de la columna entre comillas dobles dentro de paréntesis cuadrados en la variable df (que contiene el set de datos), de la siguiente manera:

In [61]:
df['WScore'].max()

186

Si desea encontrar la media de la puntuación de los equipos perdedores.

In [63]:
df['LScore'].mean()

64.65409477926055

Si queremos ver realmente el juego (fila) donde ocurrió este puntaje máximo. Podemos llamar a la función **idxmax ()** para identificar el índice de fila

In [67]:
df['WScore'].idxmax()

24970

Una de las funciones más útiles que puede invocar en ciertas columnas en un marco de datos es la función **value_counts ()**. Muestra cuántas veces aparece cada elemento en la columna. Este comando en particular muestra el número de juegos en cada temporada

In [66]:
df['Season'].value_counts()

2018    5405
2017    5395
2016    5369
2014    5362
2015    5354
2013    5320
2010    5263
2012    5253
2009    5249
2011    5246
2008    5163
2007    5043
2006    4757
2005    4675
2003    4616
2004    4571
2002    4555
2000    4519
2001    4467
1999    4222
1998    4167
1997    4155
1992    4127
1991    4123
1996    4122
1995    4077
1994    4060
1990    4045
1989    4037
1993    3982
1988    3955
1987    3915
1986    3783
1985    3737
Name: Season, dtype: int64

# Clasificación

Ahora vamos a clasificar el marco de datos en orden creciente para las puntuaciones del equipo perdedor.

In [69]:
df.sort_values('LScore').head()

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
100027    2008      66     1203      49     1387      20    H      0
49310     1997      66     1157      61     1204      21    H      0
89021     2006      44     1284      41     1343      21    A      0
103660    2009      26     1326      59     1359      22    H      0
85042     2005      66     1131      73     1216      22    H      0

# Filtrando filas condicionalmente

Ahora, digamos que queremos encontrar todas las filas que satisfacen una condición particular. Por ejemplo, quiero encontrar todos los juegos donde el equipo ganador anotó más de 150 puntos. La idea detrás de este comando es que desea acceder a la columna 'WScore' del set de datos df (df ['WScore']), buscar qué datos están por encima de 150 (df ['WScore']> 150), y luego devuelve solo aquellas filas específicas en un formato de set de datos (df [df ['WScore']> 150]).

In [72]:
df[df['WScore'] > 150]

       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
5269     1986      75     1258     151     1109     107    H      0
12046    1988      40     1328     152     1147      84    H      0
12355    1988      52     1328     151     1173      99    N      0
16040    1989      40     1328     152     1331     122    H      0
16853    1989      68     1258     162     1109     144    A      0
17867    1989      92     1258     181     1109     150    H      0
19653    1990      30     1328     173     1109     101    H      0
19971    1990      38     1258     152     1109     137    A      0
20022    1990      40     1116     166     1109     101    H      0
22145    1990      97     1258     157     1362     115    H      0
23582    1991      26     1318     152     1258     123    N      0
24341    1991      47     1328     172     1258     112    H      0
24970    1991      68     1258     186     1109     140    H      0
25656    1991      84     1106     151     1212      97    H      0
28687    1992      54     1261     159     1319      86    H      0
35023    1993     112     1380     155     1341      91    A      0
40060    1995      32     1375     156     1341     114    H      0
52600    1998      33     1395     153     1410      87    H      0

Esto también funciona si tiene múltiples condiciones. Digamos que queremos saber cuándo el equipo ganador anota más de 150 puntos y cuándo el equipo perdedor anota menos de 100.

In [75]:
df[(df['WScore'] > 150) & (df['LScore'] < 100)]

       Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
12046    1988      40     1328     152     1147      84    H      0
12355    1988      52     1328     151     1173      99    N      0
25656    1991      84     1106     151     1212      97    H      0
28687    1992      54     1261     159     1319      86    H      0
35023    1993     112     1380     155     1341      91    A      0
52600    1998      33     1395     153     1410      87    H      0